

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

#myChart{
    /*width: 400px!important;*/
    /*height: 400px!important;*/
}

#by_county, #by_gas_type {
    width: 100%;
    height: 100%;
    border: none;
    min-height: 100vh;
}