html,body {
    margin: 0; 
    height: 100%;
    overflow: hidden;
}

#map {
    position: absolute;
    top: 76px;
    bottom: 0;
    width: 100%;
    height: calc(100%-76px);
}

.mapboxgl-popup {
    width: 35vw !important;
    max-width: 400px !important;
}

.mapboxgl-popup-content {
    width: 100%;
    height: 100%;
    padding: 0;
    border: none;
    border-radius: 0;
    position: relative;
    margin: 0 auto;
    line-height: 1.4em;
}

.mapboxgl-popup-content strong {
    margin-bottom: 2rem;
    text-align: center;
}

.mapboxgl-popup-content div,
.mapboxgl-popup-content label {
    margin-bottom: 0 !important;
}

.mapboxgl-popup-close-button {
    font-size: 2em;
    padding-top: 5px;
    color: #fff;
}

.v-popup-header {
    background-color: grey;
    color: #fff;
    padding: 1.5vh;
}

.v-popup-header h5 {
    font-weight: 600;
    font-size: 140%;
    padding: 0;
    margin: 0;
}

.v-popup-header small {
    font-weight: 600;
}

.v-popup-header a {
    text-decoration: none;
    color: white;
    text-align: right;
}

.v-popup-body {
    padding: 0.8em;
    font-size: 0.8em;
}

.v-popup-body .v-fuel-info {
    display: inline-grid;
    justify-content: center;
    text-align: center;
}

.v-popup-body .v-fuel-info h6 {
    margin-top: 10px;
    font-weight: 400;
    font-size: 100%;
}

.v-popup-body .v-fuel-info img {
    width: 6em;
    margin-left: -0.6em;
}

.v-popup-body.directions {
    padding: 0;
}

.v-popup-body.directions img {
    width: 100%;
    height: 100%
}

.v-popup-body .v-fuel-info img.no-gas {
    opacity: 0.3;
    filter: alpha(opacity=30);
    /* msie */
}

.map-overlay {
    position: absolute;
    bottom: 0;
    right: 0px;
    background: rgba(255, 255, 255, 0.8);
    margin-right: 20px;
    margin-left: 20px;
    font-family: Arial, sans-serif;
    overflow: auto;
    border-radius: 3px;
    padding: 5px 5px 5px 5px;
}

#features-icon {
    position: absolute;
    top: calc(1% + 76px);
    right: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 2em;
    height: 2.5em;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    padding: 0.5em 0px 0px 0.5em;
    z-index: 3;
    margin: 0;
}

#features {
    top: calc(1% + 76px);
    right: -19em;
    width: 19em;
    height: 26em;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-top-left-radius: 0;
    margin: 0;
}

#features h2 {
    font-size: 140%;
    font-weight: 600;
}

#features h4 {
    font-size: 110%;
}

#legend {
    top: calc(1% + 76px);
    left: -21em;
    padding: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 21em;
    height: 11em;
    border-top-right-radius: 0;
    margin: 0;
}

#legend-icon {
    position: absolute;
    top: calc(1% + 76px);
    left: 0;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    width: 2em;
    height: 2.5em;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0.5em 0px 0px 0.5em;
    z-index: 3;
    margin: 0;
}

#legend h2 {
    font-size: 140%;
    font-weight: 600;
}

#legend div {
    margin: 1%;
}

#legend img {
    float: left;
}

#legend label {
    vertical-align: middle;
    margin-bottom: 0 !important;
    font-size: 80%;
}

.grecaptcha-badge {
    visibility: hidden;
}

#legend-icon a,
#features-icon a {
    color: #212529 !important;
}
